# NetBeans
nbproject/private/
build/
dist/
nbbuild/
nbdist/
*.bat
*.sh

# Ignore all JARs by default
*.jar






# Compiled class files
*.class
target/

# Package files

*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp

# WAR/EAR file build ra
*.war
*.ear

/SelectionSort/nbproject/private/
/LinearSearch/nbproject/private/
